* {
    background-color: green;
}

nav {
    border: 1px yellow solid;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    padding: 10px;
    background-color: rgb(64, 88, 16);
    position: sticky;
    top: 1px
}

a {
    color: yellow;
    text-decoration: none;
    background-color: inherit
}

a:hover {
    color: darkred
}

main {
    display: flex;
    flex-flow: row;
}

app-nav {
    min-width: 20%;
    max-width: 20%
}
